# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/

# Environment variable files
.env

# macOS files
.DS_Store

# VS Code settings
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python egg info
*.egg-info/
dist/
build/

# Logs
*.log